---
- hosts: all
  become: true
  vars:
    users:
      - "esiee"
    pubkey: "{{ lookup('file', './id_rsa.pub') }}"
    pubkeyzhu: "{{ lookup('file', './id_rsa_zhu.pub') }}"

  tasks:
    - ping: ~
    - name: "Create admin group"
      group:
        name: "admin"
        state: present

    - name: "Add sudoers users to admin group"
      user:
        name: "{{ item }}"
        groups: "admin"
        append: yes
        state: present
        createhome: yes
      with_items: "{{ users }}"

    - name: "Create directory"
      file:
        path: "/home/{{ item }}/.ssh"
        state: directory
      with_items: "{{ users }}"

    - name: "Set up authorized keys"
      ansible.posix.authorized_key:
        user: esiee
        state: present
        key: '{{ item }}'
      with_file:
        - ./id_rsa.pub
        - ./id_rsa_fleury.pub

    - name: "Allow 'admin' group to have passwordless sudo"
      lineinfile:
        dest: /etc/sudoers
        state: present
        regexp: '^%admin'
        line: '%admin ALL=(ALL) NOPASSWD: ALL'
        validate: 'visudo -cf %s'

    - name: "Build hosts file"
      lineinfile:
        path: /etc/hosts
        regexp: '.*{{ item }}$'
        line: "{{ hostvars[item].ansible_default_ipv4.address }} {{item}}"
        state: present
      when: hostvars[item].ansible_default_ipv4.address is defined
      with_items: "{{groups.all}}"