---
- hosts: [dbservers]
  become: true

  tasks:
    - name: Install MariaDB Server 10.3
      apt:
        name: mariadb-server
        state: latest

    - name: Install MariaDB Client 10.3
      apt:
        name: mariadb-client
        state: latest

    - name: Create MariaDB Directories
      file:
        path: /data/MariaDB
        state: directory
        owner: mysql
        group: mysql
        recurse: yes
      with_items:
        - db
        - log

    - name: Count files in /data/db
      find:
        path: /data/db
        patterns: '\*'
      register: db_files

    - name: Run mysql_install_db only if /data/db is empty
      command: mysql_install_db --datadir=/data/db
      when: db_files.matched|int == 0

    - name: Start MariaDB
      service:
        name: mysql
        state: started

    - name: Create a new database with name glpi
      community.mysql.mysql_db:
        name: glpi
        state: present

    - name: Create database user with all database privileges
      community.mysql.mysql_user:
        name: glpi
        password: password
        priv: '*.*:ALL'
        state: present