---
- hosts: all
  become: true
  vars:
    users:
      - "esiee"
    pubkey: "{{ lookup('file', './id_rsa.pub') }}"
    pubkeyzhu: "{{ lookup('file', './id_rsa_zhu.pub') }}"
  tasks:
    - ping: ~
    - name: "Create admin group"
      group:
        name: "admin"
        state: present
    - name: "Create user accounts"
      user:
        name: "{{ item }}"
        groups: "admin"
      with_items: "{{ users }}"
    - name: "Create directory"
      file:
        path: "/home/esiee/.ssh"
        state: directory
    - name: "Create empty file"
      file:
        path: "/home/esiee/.ssh/authorized_keys"
        state: touch
    - name: "Push pubkey"
      lineinfile:
        path: "/home/esiee/.ssh/authorized_keys"
        line: "{{ pubkey }}"
        line: "{{ pubkeyzhu}}"
    - name: "Allow admin users to sudo without a password"
      lineinfile:
        dest: "/etc/sudoers"
        state: "present"
        regexp: "^%admin"
        line: "%admin ALL=(ALL) NOPASSWD: ALL"
    - name: "Build hosts file"
      lineinfile: dest=/etc/hosts regexp='.*{{ item }}$' line="{{ hostvars[item].ansible_default_ipv4.address }} {{item}}" state=present
      when: hostvars[item].ansible_default_ipv4.address is defined
      with_items: "{{groups.all}}"
    - name: "Install Heartbeat"
      apt: name=heartbeat